<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

    <link rel="stylesheet" href="stylesheets/style.css">


    <link rel="stylesheet" href="stylesheets/toastr.min.css">

    <script src="javascripts/socket.io.js"></script>

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/toastr.min.js"></script>

    <script src="javascripts/app_ng.js"></script>
    <script type="text/javascript"
            src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="javascripts/bootstrap-material-datetimepicker.js"></script>
    <script src="javascripts/modernizr.custom.js"></script>

    <!--set socket handle here because of they access in to some global scope-->
    <script src="javascripts/socket.handle.js"></script>
</head>
<body ng-app="app">

<!--begin navbar and login dialog-->
<div class="blue-bg-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--header begin-->
                <my-header></my-header>
                <!--header end-->


                <section class="at-login-form">
                    <!-- MODAL LOGIN -->
                    <my-modal></my-modal>
                    <!-- MODAL LOGIN ENDS -->
                    <!-- MODAL SIGNUP -->
                    <div class="modal fade" id="at-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <!--<button class="btn-fb"> <i class="fa fa-fw fa-facebook pull-left" aria-hidden="true"></i>-->
                                    <!--Signup with Facebook	</button> <br>-->
                                    <!--<button class="btn-gp"> <i class="fa fa-fw fa-google-plus pull-left" aria-hidden="true"></i>-->
                                    <!--Signup with Google	</button> <br>-->
                                    <!--<div class="signup-or-separator">-->
                                    <!--<span class="h6 signup-or-separator&#45;&#45;text">or</span>-->
                                    <!--<hr>-->
                                    <!--</div>-->
                                    <button type="submit" class="btn-lgin" data-toggle="modal" data-dismiss="modal"
                                            data-target="#at-signup-filling">Signup with Email
                                    </button>
                                    <hr>
                                    <p>By signing up, I agree to Airbnb’s , Payments <a href="#">Terms of Service</a>,
                                        <a href="#">Privacy Policy</a>, <a href="#">Guest Refund Policy</a>, and <a
                                                href="#">Host Guarantee Terms</a>. </p>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="ta-l">Already a Member? </p>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <button class="btn-gst" data-toggle="modal" data-dismiss="modal"
                                                    data-target="#at-login">Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL SIGNUP FORM FILLING -->
                    <div class="modal fade" id="at-signup-filling" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <!--<p>Sign up with <a href="#">Facebook</a>  or <a href="#">Google</a></p>-->
                                    <!--<div class="signup-or-separator">-->
                                    <!--<span class="h6 signup-or-separator&#45;&#45;text">or</span>-->
                                    <!--<hr>-->
                                    <!--</div>-->
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control-form " id="exampleInputEmaillog"
                                                   placeholder="User Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control-form " id="exampleInputEmaillog"
                                                   placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control-form "
                                                   id="exampleInputPasswordpas" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control-form "
                                                   id="exampleInputPasswordpas" placeholder="Confirm Password">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        I’d like to receive coupons and inspiration
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <button type="submit" class="btn-lgin">Signup</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="ta-l">Already a Member? </p>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <button class="btn-gst" data-toggle="modal" data-dismiss="modal"
                                                    data-target="#at-login">Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL SIGNUP FORM FILLING -->
                    <!-- MODAL FORGOT PASSWORD -->
                    <div class="modal fade" id="at-reset-pswd" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <p> Enter the email address associated with your account, and we’ll email you a
                                            link to reset your password. </p>
                                        <div class="form-group">

                                            <input type="email" class="form-control-form " id="exampleInputEmaillog"
                                                   placeholder="Email">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL HELP -->
                    <div class="modal fade" id="at-helping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control-form " id="exampleInputEmaillog"
                                                   placeholder="Enter Your Searches ">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <button class="btn-gst" data-toggle="modal" data-dismiss="modal">Send areset
                                            Link
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- end navbar and login dialog -->


<!--patient content begin-->
<patient-content ng-controller="patientContentController">

</patient-content>
<!--patient content end-->

<!--doctor content begin-->
<doctor-content ng-controller="doctorContentController">

</doctor-content>

<!--doctor content end-->
<!--conten-1 begin-->
<div class="banner-sign">
    <div class="container clearfix" style="width: 50%">
        <div class="banner-sign-content">
            <p>
                <span>dịch vụ</span>
                <span>chăm sóc khách hàng</span>
                <span>is hospital</span>
                <span>liên hệ với chúng tôi</span>
                <span>(Từ 6h - đến 22h tất cả các ngày trong tuần)</span>

            </p>
            <div class="hot-line">

                <h1><b class="glyphicon glyphicon-headphones"></b> 19001001</h1>
            </div>
        </div>
        <div class="banner-sign-feature">
            <div class="pulse animated"></div>
        </div>
    </div>
</div>

<div class="question">
    <div class="container">
        <div class="title">
            <h1>câu hỏi thường gặp</h1>
        </div>
        <div class="question-content">
            <div class="row">
                <div class="col-md-4 question-tab">
                    <h2>tài khoản cá nhân</h2>
                    <ul>
                        <li>Cách tạo tài khoản</li>
                        <li>Quên mật khẩu</li>
                        <li>Xem hồ sơ</li>
                    </ul>
                </div>
                <div class="col-md-4 question-tab">
                    <h2>tình trạng bệnh</h2>
                    <ul>
                        <li>Dấu hiệu khi mắc bệnh</li>
                        <li>Cách phòng tránh</li>

                    </ul>
                </div>
                <div class="col-md-4 question-tab">
                    <h2>đội ngũ bác sĩ</h2>
                    <ul>
                        <li>Thông tin các bác sĩ</li>
                        <li>Lời khuyên từ bác sĩ</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!--conten-1 end-->

<!--footer-->
<footer>
    <div class="container footer">
        <div class="row">
            <div class="col-md-3 footer-tab">
                <h3>thành viên</h3>
                <ul>
                    <li><a href="/">Thông tin nhóm</a></li>
                    <li><a href="/">Các thành viên</a></li>
                    <li><a href="/">Hoạt động</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-tab">
                <h3>tư vấn</h3>
                <ul>
                    <li><a href="/">Bác sĩ</a></li>
                    <li><a href="/">Tâm lý</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-tab">
                <h3>thắc mắc</h3>
                <ul>
                    <li><a href="/">Chăm sóc khách hàng</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-tab">
                <h3>is hospital</h3>
                <ul>
                    <li><a href="/">Giới thiệu IS Hospital</a></li>
                    <li><a href="/">Hệ thống</a></li>

                </ul>
            </div>

        </div>

    </div>
    <div class="end">
        <p>© 2016 IS Hospital. All rights reserved.</p>
        <a href="/"><img src="images/logo.png">IS Hospitall</a>
    </div>

</footer>
<!--footer end-->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="javascripts/bootstrap.min.js"></script>

</body>
</html>
