<div id="exTab3" style="display: block" class="bs" ng-show="doctorLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul class="nav nav-pills">
                <li class="logo"><img src="images/logo.png"><span class="lg">is hospital</span></li>
                <li class="active tab">
                    <a href="#1b" data-toggle="tab">List Requests </a>
                </li>
                <li class="tab"><a href="#2b" data-toggle="tab">List Patient</a>
                </li>
                <li class="tab"><a href="#3b" data-toggle="tab">Profile</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
            <div class="banner">
                <div class="banner-left"><h1>List requests</h1></div>
                <div class="banner-right"><img src="images/insacation.png"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="bhoechie-tab-container">
                        <div class="col-md-3  bhoechie-tab-menu">
                            <div class="list-group">
                                <a href="#" class="list-group-item active text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 1
                                </a>
                                <a href="#" class="list-group-item  text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 2
                                </a>
                                <a href="#" class="list-group-item  text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 3
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 4
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 5
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9  bhoechie-tab">
                            <!-- flight section -->
                            <div class="bhoechie-tab-content active">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <div class="date">
                                        <div class="row">
                                            <p>Chúng tôi trình bày Resilient Distributed Datasets (RDDs) , khái niệm
                                                trừu tượng để cho lập trình viên thực hiện tính toán thường xuyên trong
                                                bộ nhớ trên cụm lớn với việc chấp nhận sai sót. RDDs được thúc đẩy bởi
                                                hai loại ứng dụng mô hình điện toán hiện hành xử lý kém hiệu quả : thuật
                                                toán lặp lại và công cụ khai phá dữ liệu tương tác. Trong cả hai trường
                                                hợp, giữ cho dữ liệu trong bộ nhớ có thể cải thiện hiệu suất một bậc. Để
                                                đạt được khả năng chịu lỗi một cách hiệu quả, RDDs cung cấp một hình
                                                thức chia sẻ bộ nhớ, dựa trên biến đổi theo cụm lơn chứ không phải là
                                                biến đổi nhỏ lẻ phân mảnh. Tuy nhiên, chúng tôi cho thấy rằng RDDs được
                                                biểu hiện đầy đủ để chụp các tính toán lớn, bao gồm cả mô hình lập trình
                                                chuyên ngành gần đây như Pregel, và các ứng dụng mới có không có mô
                                                hình. Chúng tôi đã thực hiện RDDs trong một hệ thống gọi là Spark, mà
                                                chúng tôi đánh giá thông qua một loạt các ứng dụng người dùng và điểm
                                                chuẩn.</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>Chọn lịch khám</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-control-wrapper">
                                                    <input type="text" id="date-format"
                                                           class="form-control floating-label"
                                                           placeholder="Begin Date Time">
                                                </div>
                                            </div>
                                            <div class="col-md-0">
                                                <code>

                                                    <script>$('#date-format').bootstrapMaterialDatePicker({format: 'dddd DD MMMM YYYY - HH:mm'});</script>
                                                </code>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-success"> đặt lịch</button>
                                        </div>

                                    </div>
                                </center>
                            </div>
                            <!-- train section -->
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                                </center>
                            </div>

                            <!-- hotel search -->
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                                </center>
                            </div>
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                                </center>
                            </div>
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2b">

        </div>
        <div class="tab-pane" id="3b">
            <div class="banner">
                <div class="banner-left"><h1>profile</h1></div>
                <div class="banner-right"><img src="images/profile.png"></div>
            </div>
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class=" pull-left">
                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ"
                                     width="120" height="120" style="border-radius: 100% ;margin-right: 15px;">
                            </div>
                            <form id="myform" action="" method="post" enctype="multipart/form-data">
                                <h5>Company Name</h5>
                                <h4>Name: Tyreese Burn</h4>
                                <p>Title: Manager</p>
                                <span>Phone: 555-555-5555</span>
                                <br/>
                                <span>Email: sample@company.com</span>
                                <input style="margin: 0 135px;display: none" type="file" value="Change Avatar">
                            </form>
                            <input id="edit" class="btn-success" style="margin: 10px 10px" type="button" name="edit"
                                   value="Sửa thông tin"/>
                            <input id="ok" class="btn-success" style="display:none;float: left;margin-right: 10px"
                                   type="button" name="ok" value="Chấp nhận"/>
                            <input id="exit" class="btn-danger" style="display:none;float: left" type="button"
                                   name="exit" value="Hủy"/>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>