<div id="exTab4" style="display: none" class="container-all" ng-show="patientLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul class="nav nav-pills">
                <li class="logo"><img src="images/logo.png"><span class="lg">is hotpital</span></li>
                <li class="active tab">
                    <a href="#1a" data-toggle="tab">List Doctors</a>
                </li>
                <li class="tab"><a href="#2a" data-toggle="tab">sessions</a>
                </li>
                <li class="tab"><a href="#3a" data-toggle="tab">Profile</a>
                </li>
                <li class="tab"><a href="#4a" data-toggle="tab">Notifacation</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div class="banner">
                <div class="banner-left"><h1>list doctocs</h1></div>
                <div class="banner-right"><img src="images/bacsi.png" width="300px" height="195px"></div>
            </div>
            <div class="row item-doctor" ng-repeat="doctor in listDoctors">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <div class="pull-right">
                                <h4>Bác sĩ {{doctor.faculty}}</h4>
                                <dl>
                                    <dt>Full Name:</dt>
                                    <dd class="name">{{doctor.fullname}}</dd>
                                    <dt>Có kinh nghiệm về:</dt>
                                    <dd>
                                        <span ng-repeat="sick in doctor.list_recommend"> {{sick}}. </span>
                                    </dd>
                                    <dt>Email:</dt>
                                    <dd>{{doctor.email}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="2a">
            <div class="banner">
                <div class="banner-left"><h1>sessions</h1></div>
                <div class="banner-right"><img src="images/sessions.png"></div>
            </div>
            <div class="row item-session" ng-repeat="session in sessions">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix" style="padding-bottom:20px;border-bottom: 1px solid beige">
                            <h4>Session {{$index + 1}}</h4>
                            <p>Bác sĩ phụ trách: {{session.username_doctor}} </p>
                            <p>Ngày bắt đầu : {{session.begin_date}}</p>
                            <p>Description : {{session.description}}</p>
                            <p>Tình trạng : {{session.status}}</p>
                            <p>Kết quả : {{session.result}}</p>
                            <div ng-repeat="act in session.activities">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target={{'#activity'+($index+1)+$parent.$index}}>
                                    Hoạt động {{$index+1}}
                                </button>
                                <div style="margin-top: 10px" id={{'activity'+($index+1)+$parent.$index}} class="collapse">
                                    <p>Người xác nhận: {{act.doctor_username_confirm}}</p>
                                    <p>Ngày: {{act.date}}</p>
                                    <p>Giờ :{{act.time}} </p>
                                    <p>Đã hoàn tất: {{act.done}}</p>
                                    <p>Kết quả : <a href=" http://google.com.vn">File kết quả</a></p>
                                    <p>Chi phí : {{act.cost}}</p>
                                    <p>Đã thanh toán : {{act.paid}}</p>
                                </div>
                                <br/>
                                <br/>
                            </div>


                            <!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#activity2">
                                Hoạt động 2
                            </button>
                            <div style="margin-top: 10px" id="activity2" class="collapse">
                                <p>Người xác nhận: Dr.Vũ Hồng Phú</p>
                                <p>Thời gian:22/12/2016 12:12:12</p>
                                <p>Đã hoàn tất:Ok</p>
                                <p>Kết quả : <a href=" http://google.com.vn">File kết quả</a></p>
                                <p>Chi phí : 200USD</p>
                                <p>Đã thanh toán : Chưa thanh toán</p>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row item-session">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix" style="padding-bottom:20px;border-bottom: 1px solid beige;">
                            <h4>Session 1</h4>
                            <p>Ngày bắt đầu : 22/22/2016</p>
                            <p>Description : abccbcbbcbcbbcbcbcbcbcbcbcbcbcbc</p>
                            <p>Tình trạng : ạhdahsdhaskdh</p>
                            <p>Kết quả : jkhjkhkjhjkhjhk</p>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#activity3">
                                Hoạt động 1
                            </button>
                            <div style="margin-top: 10px" id="activity3" class="collapse">
                                <p>Người xác nhận: Dr.Vũ Hồng Phú</p>
                                <p>Thời gian:22/12/2016 12:12:12</p>
                                <p>Đã hoàn tất:Ok</p>
                                <p>Kết quả : <a href=" http://google.com.vn">File kết quả</a></p>
                                <p>Chi phí : 200USD</p>
                                <p>Đã thanh toán : Chưa thanh toán</p>
                            </div>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#activity4">
                                Hoạt động 2
                            </button>
                            <div style="margin-top: 10px" id="activity4" class="collapse">
                                <p>Người xác nhận: Dr.Vũ Hồng Phú</p>
                                <p>Thời gian:22/12/2016 12:12:12</p>
                                <p>Đã hoàn tất:Ok</p>
                                <p>Kết quả : <a href=" http://google.com.vn">File kết quả</a></p>
                                <p>Chi phí : 200USD</p>
                                <p>Đã thanh toán : Chưa thanh toán</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="tab-pane" id="3a">
            <div class="banner">
                <div class="banner-left"><h1>profile</h1></div>
                <div class="banner-right"><img src="images/profile.png"></div>
            </div>
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class=" pull-left">
                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ"
                                     width="120" height="120" style="border-radius: 100% ;margin-right: 15px;">
                            </div>
                            <form id="myform" action="" method="post" enctype="multipart/form-data">
                                <h5>User name: {{profile.username}}</h5>
                                <h4>Full name: {{profile.fullname}}</h4>
                                <span>Phone: {{profile.mobile_phone}}</span>
                                <br/>
                                <span>Email: {{profile.email}}</span>
                                <input style="margin: 0 135px;display: none" type="file" value="Change Avatar">
                            </form>
                            <input id="edit" class="btn-success" style="margin: 10px 10px" type="button" name="edit"
                                   value="Sửa thông tin"/>
                            <input id="ok" class="btn-success" style="display:none;float: left;margin-right: 10px"
                                   type="button" onclick="update_data()" name="ok" value="Chấp nhận"/>
                            <input id="exit" class="btn-danger" style="display:none;float: left" type="button"
                                   name="exit" value="Hủy"/>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="4a">
            <div class="banner">
                <div class="banner-left"><h1>notifacation</h1></div>
                <div class="banner-right"><img src="images/insacation.png"></div>
            </div>
            <div class="row" style="margin: 40px 0px">
                <div class="container">
                    <div class="col-md-5">
                        <div style="width: 95%" id="left1">
                            <div class="form-group">

                                <form action="" method="post" enctype="multipart/form-data">
                                    <label for="description"><h3>Description:</h3></label>
                                    <textarea id="description" class="form-control" style="width:80%;margin: 0 20px;resize: none " cols="10" rows="7"
                                              placeholder="Your descriptoin "></textarea>
                                    <h3>Image</h3>
                                    <div>
                                        <div id="myfileupload">
                                            <input type="file" id="uploadfile" name="ImageUpload"
                                                   onchange="readURL(this);"/>
                                            <!--      Name  mà server request về sẽ là ImageUpload-->
                                        </div>
                                        <div id="thumbbox">
                                            <img height="150" width="150" alt="Thumb image" id="thumbimage"
                                                 style="display: none"/>
                                            <a class="removeimg" href="javascript:"></a></div>
                                    </div>
                                    <input class="btn-success"
                                           style="width: 100px;height: 35px;border-radius: 5px;margin: 20px 0px;"
                                           type="submit" name="submit" value="Submit">
                                </form>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div style="" id="right1">
                            <div class="notification">
                                <h3>Notification</h3>
                                <ul>
                                    <li>
                                        <button type="button" class="notification-id" data-toggle="collapse" data-target="#activity5">
                                            Thông báo kết quả khám bệnh ngày 12/12/2016
                                        </button>
                                        <div style="margin-top: 10px" id="activity5" class="collapse">
                                            <p>Người xác nhận: Dr.Vũ Hồng Phú</p>
                                            <p>Thời gian:22/12/2016 12:12:12</p>
                                            <p>Đã hoàn tất:Ok</p>
                                            <p>Kết quả : <a href=" http://google.com.vn">File kết quả</a></p>
                                            <p>Chi phí : 200USD</p>
                                            <p>Đã thanh toán : Chưa thanh toán</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>

        function readURL(input, thumbimage) {
            if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#thumbimage").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else { // Sử dụng cho IE
                $("#thumbimage").attr('src', input.value);

            }
            $("#thumbimage").show();
            $('.filename').text($("#uploadfile").val());
            $('.Choicefile').css('background', '#C4C4C4');
            $('.Choicefile').css('cursor', 'default');
            $(".removeimg").show();
            $(".Choicefile").unbind('click'); //Xóa sự kiện  click trên nút .Choicefile

        }
        //$(document).ready(function () {
        (function () {
            var html = '';
            $('#edit').click(function () {
                    $('#edit').hide();
                    $('#ok').show();
                    $('#exit').show();
                    html = $('#myform').html();
                    console.log('abc');
                    var username = $('#myform>h5').text().slice(10);
                    var fullname = $('#myform>h4').text().slice(10);
                    var phone = $('#myform span').first().text().slice(7);
                    var email = $('#myform span').last().text().slice(7);
                    var html_after = '';
                    html_after += "<table cellpadding='10'>";

                    html_after += "<tr>";
                    html_after += "<td>";
                    html_after = html_after + "User Name:";
                    html_after += "</td>";
                    html_after += "<td>";
                    html_after = html_after + "<input disabled class='form-control' type='text' name='username' value='" + username + "'/>";
                    html_after += "</td>";
                    html_after += "</tr>";

                    html_after += "<tr>";
                    html_after += "<td>";
                    html_after = html_after + "Full Name:";
                    html_after += "</td>";
                    html_after += "<td>";
                    html_after = html_after + "<input id='input_fullname' class='form-control' type='text' name='fullname' value='" + fullname + "'/>";
                    html_after += "</td>";
                    html_after += "</tr>";

                    html_after += "<tr>";
                    html_after += "<td>";
                    html_after = html_after + "Phone: ";
                    html_after += "</td>";
                    html_after += "<td>";
                    html_after = html_after + "<input id='input_phone' class='form-control' type='text' name='phone' value='" + phone + "'/>";
                    html_after += "</td>";
                    html_after += "</tr>";

                    html_after += "<tr>";
                    html_after += "<td>";
                    html_after = html_after + "Email: ";
                    html_after += "</td>";
                    html_after += "<td>";
                    html_after = html_after + "<input id='input_email' class='form-control' type='text' name='email' value='" + email + "'/>";
                    html_after += "</td>";
                    html_after += "</tr>";

                    html_after += "</table>";
                    $('#myform').html(html_after);
            });

            $('#exit, #ok').click(function () {
                $('#ok').hide();
                $('#exit').hide();
                $('#myform').html(html);
                $('#edit').show();
            });

            $('#demo').click(function () {
                console.log($('#left1').css('height'));
            });
            $(".Choicefile").bind('click', function () { //Chọn file khi .Choicefile Click
                $("#uploadfile").click();

            });
            $(".removeimg").click(function () {//Xóa hình  ảnh đang xem
                $("#thumbimage").attr('src', '').hide();
                $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
                $(".removeimg").hide();
                $(".Choicefile").bind('click', function () {//Tạo lại sự kiện click để chọn file
                    $("#uploadfile").click();
                });
                $('.Choicefile').css('background', '#0877D8');
                $('.Choicefile').css('cursor', 'pointer');
                $(".filename").text("");
            });
        })();


        function update_data() {
            var fullname = $('#input_fullname').val();
            var mobile_phone = $('#input_phone').val();
            var email = $('#input_email').val();

            patientContentScope.update_profile(fullname, mobile_phone, email).then(function (res) {
                if (res) {
                    console.log("update" + JSON.stringify(res));
                    toastr.success("Update Patient Info Success");
                }
            }, function (err) {
                console.log(err);
            })
        }
        //});
    </script>
</div>
