<div id="exTab4" style="display: block" class="container-all" ng-show="patientLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul class="nav nav-pills">
                <li class="logo"><img src="images/logo.png"><span class="lg">is hospital</span></li>
                <li class="active tab">
                    <a href="#1a" data-toggle="tab">List Doctors</a>
                </li>
                <li class="tab"><a href="#2a" data-toggle="tab">sessions</a>
                </li>
                <li class="tab"><a href="#3a" data-toggle="tab">Profile</a>
                </li>
                <li class="tab"><a href="#4a" data-toggle="tab">Resquest & Notis</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div class="banner">
                <div class="banner-left"><h1>list doctocs</h1></div>
                <div class="banner-right"><img src="images/bacsi.png" width="300px" height="195px"></div>
            </div>
            <div class="clearfix"></div>
            <div class="container list-docter">
                <div class="row item-doctor" ng-repeat="doctor in listDoctors">
                    <div class="searchable-container">
                        <div class="items  clearfix">
                            <div class="info-block block-info clearfix">
                                <div class="square-box pull-left">
                                    <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                                </div>
                                <div class="pull-right">
                                    <h4>Bác sĩ {{doctor.faculty}}</h4>
                                    <dl>
                                        <dt>Full Name:</dt>
                                        <dd class="name">{{doctor.fullname}}</dd>
                                        <dt>Có kinh nghiệm về:</dt>
                                        <dd>
                                            <span ng-repeat="sick in doctor.list_recommend"> {{sick}}. </span>
                                        </dd>
                                        <dt>Email:</dt>
                                        <dd>{{doctor.email}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2a">
            <div class="banner">
                <div class="banner-left"><h1>sessions</h1></div>
                <div class="banner-right"><img src="images/sessions.png"></div>
            </div>
            <div class="container session">
                <h2>session</h2>
                <div class="row item-session" ng-repeat="session in sessions">
                    <div class="searchable-container">
                        <div class="items  clearfix">
                            <h4>Session {{$index + 1}}</h4>
                            <div class="info-block block-info item-content clearfix"
                                 style="border-bottom: 1px solid beige">

                                <p><b>Bác sĩ phụ trách:</b> {{session.username_doctor}} </p>
                                <p><b>Ngày bắt đầu:</b> {{session.begin_date}}</p>
                                <p><b>Description:</b> {{session.description}}</p>
                                <p><b>Tình trạng:</b> {{session.status}}</p>
                                <p><b>Kết quả:</b> {{session.result}}</p>
                                <div ng-repeat="act in session.activities">
                                    <button type="button" class="btn1 btn-info" data-toggle="collapse"
                                            data-target={{'#activity'+($index+1)+$parent.$index}}>
                                        Hoạt động {{$index+1}}
                                    </button>
                                    <div style="margin-top: 10px" id={{'activity'+($index+1)+$parent.$index}}
                                         class="collapse">
                                        <p>Người xác nhận: {{act.doctor_username_confirm}}</p>
                                        <p>Ngày: {{act.date}}</p>
                                        <p>Giờ :{{act.time}} </p>
                                        <p>Đã hoàn tất: {{act.done}}</p>
                                        <p>Kết quả : <a href=" http://google.com.vn">File kết quả</a></p>
                                        <p>Chi phí : {{act.cost}}</p>
                                        <p>Đã thanh toán : {{act.paid}}</p>
                                    </div>
                                    <br/>
                                    <br/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3a">
            <div class="banner">
                <div class="banner-left"><h1>profile</h1></div>
                <div class="banner-right"><img src="images/profile.png"></div>
            </div>
            <div class="clearfix"></div>
            <div class="profile-patient container">
                <h2>profile patient</h2>
                <div class="row item-patient">
                    <div class="searchable-container">
                        <div class="items clearfix">
                            <div class="info-block block-info clearfix">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4">
                                        <div class=" profile-patient-left">
                                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ"
                                                 width="220" height="260" style="border-radius: 7% ;margin-right: 15px;">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <form class="form-group" id="myform_staff1" action="" method="post" enctype="multipart/form-data">

                                            <h2 ><b>Name:</b> {{profile.username}}</h2>
                                            <input disabled id="name" class="form-control" type="text" name="name" value="23" style="width: 40%;display: none"/>

                                            <h3 ng-show="profileDisplay"><b>Fullname:</b> <b style="color: #ed1b2f">{{profile.fullname}}</b></h3>
                                            <label ng-show="!profileDisplay" for="fullname">Fullname:</label>
                                            <input ng-model="profile.fullname" ng-show="!profileDisplay" id="fullname" class="form-control" type="text" name="fullname" value="23" style="width: 40%;" />

                                            <br/>
                                            <span ng-show="profileDisplay"><h4><b>Phone:</b> {{profile.mobile_phone}}</h4></span>
                                            <label ng-show="!profileDisplay" for="phone">Phone:</label>
                                            <input ng-model="profile.mobile_phone"  ng-show="!profileDisplay" id="phone" class="form-control" type="text" name="phone" value="23" style="width: 40%;" />

                                            <span ng-show="profileDisplay" ><h4><b>Email:</b> {{profile.email}}</h4></span>
                                            <label ng-show="!profileDisplay" for="email">Email:</label>
                                            <input ng-show="!profileDisplay" ng-model="profile.email" id="email" class="form-control" type="text" name="email" value="sample@company.com" style="width: 40%" />
                                            <input style="margin: 0 135px;display: none" type="file" value="Change Avatar">
                                        </form>

                                        <input id="edit_staff1" ng-show="profileDisplay" class="btn btn-success" style="margin: 10px 10px" type="button"
                                               name="edit"
                                               value="Sửa thông tin" ng-click="updateDisplayProfileToFix()"/>
                                        <input ng-show="!profileDisplay" id="ok_staff1" class="btn btn-success"
                                               style="float: left;margin-right: 10px"
                                               type="button" name="ok" value="Chấp nhận" ng-click="update_profile()"/>
                                        <input ng-show="!profileDisplay" id="exit_staff1" class="btn btn-danger" style="float: left"
                                               type="button"
                                               name="exit" value="Hủy" ng-click="updateDisplayProfileToFix()"/>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="4a">
            <div class="banner">
                <div class="banner-left"><h1>notifacation</h1></div>
                <div class="banner-right"><img src="images/insacation.png"></div>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <div class="row" style="margin: 40px 0px">
                    <div class="container">
                        <div class="col-md-5">

                            <div id="left1">
                                <div class="request">
                                    <h3>request</h3>
                                    <hr style=" margin:0 "/>
                                    <div class="form-group" style="margin-left: 20px">

                                        <form enctype="multipart/form-data">
                                            <label for="description"><h3><b>Description:</b></h3></label>
                                            <textarea ng-model="requestDescription" id="description"
                                                      class="form-control"
                                                      style="width:80%;margin: 0 20px;resize: none " cols="10" rows="7"
                                                      placeholder="Your descriptoin "></textarea>
                                            <h3><b>Image:</b></h3>
                                            <div>
                                                <div id="myfileupload">
                                                    <input style="margin-left: 20px" type="file" id="uploadfile"
                                                           name="ImageUpload"
                                                           onchange="readURL(this);"/>
                                                    <!--      Name  mà server request về sẽ là ImageUpload-->
                                                </div>
                                                <div id="thumbbox">
                                                    <img height="150" width="150" alt="Thumb image" id="thumbimage"
                                                         style="display: none"/>
                                                    <a class="removeimg" href="javascript:"></a></div>
                                            </div>
                                            <input class="btn1 btn-success" ng-click="sendRequest()"
                                                   style="width: 100px;height: 35px;border-radius: 7px;margin-top:20px; margin-left: 150px"
                                                   type="button" name="submit" value="Submit" onsubmit="return false"
                                                   {{}}>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div style="" id="right1">
                                <div class="notification">
                                    <h3>Notification</h3>
                                    <ul>
                                        <li ng-repeat="noti in notifications">
                                            <button type="button" class="notification-id" data-toggle="collapse"
                                                    data-target={{'#noti'+$index}}>
                                                {{noti.content}}
                                            </button>
                                            <div style="margin-top: 10px" id={{'noti'+$index}} class="collapse">
                                                <p>Người xác nhận: {{noti.username_doctor}}</p>
                                                <p>Thời gian {{noti.date}}, {{noti.time}} </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            function readURL(input, thumbimage) {
                if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#thumbimage").attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else { // Sử dụng cho IE
                    $("#thumbimage").attr('src', input.value);

                }
                $("#thumbimage").show();
                $('.filename').text($("#uploadfile").val());
                $('.Choicefile').css('background', '#C4C4C4');
                $('.Choicefile').css('cursor', 'default');
                $(".removeimg").show();
                $(".Choicefile").unbind('click'); //Xóa sự kiện  click trên nút .Choicefile
            }
            //$(document).ready(function () {
//            (function () {
//                var html = '';
//                $('#edit').click(function () {
//                    $('#edit').hide();
//                    $('#ok').show();
//                    $('#exit').show();
//                    html = $('#myform').html();
//                    var username = $('#myform>h5').text().slice(10);
//                    var fullname = $('#myform>h4').text().slice(10);
//                    var phone = $('#myform span').first().text().slice(7);
//                    var email = $('#myform span').last().text().slice(7);
//                    var html_after = '';
//                    html_after += "<table cellpadding='10'>";
//
//                    html_after += "<tr>";
//                    html_after += "<td>";
//                    html_after = html_after + "User name:";
//                    html_after += "</td>";
//                    html_after += "<td>";
//                    html_after = html_after + "<input id='input_username' disabled='disabled' class='form-control' type='text' name='company' value='" + username + "'/>";
//                    html_after += "</td>";
//                    html_after += "</tr>";
//
//                    html_after += "<tr>";
//                    html_after += "<td>";
//                    html_after = html_after + "Full name:";
//                    html_after += "</td>";
//                    html_after += "<td>";
//                    html_after = html_after + "<input id='input_fullname' class='form-control' type='text' name='name' value='" + fullname + "'/>";
//                    html_after += "</td>";
//                    html_after += "</tr>";
//
//                    html_after += "<tr>";
//                    html_after += "<td>";
//                    html_after = html_after + "Phone:";
//                    html_after += "</td>";
//                    html_after += "<td>";
//                    html_after = html_after + "<input id='input_phone' class='form-control' type='text' name='phone' value='" + phone + "'/>";
//                    html_after += "</td>";
//                    html_after += "</tr>";
//                    html_after += "<tr>";
//                    html_after += "<td>";
//                    html_after = html_after + "Email:";
//                    html_after += "</td>";
//                    html_after += "<td>";
//                    html_after = html_after + "<input id='input_email' class='form-control' type='text' name='email' value='" + email + "'/>";
//                    html_after += "</td>";
//                    html_after += "</tr>";
//
//                    html_after += "<tr>";
//                    html_after += "<td>";
//                    html_after = html_after + "Phone:";
//                    html_after += "</td>";
//                    html_after += "<td>";
//                    html_after = html_after + "<input class='form-control' type='text' name='phone' value='" + phone + "'/>";
//                    html_after += "</td>";
//                    html_after += "</tr>";
//                    html_after += "<tr>";
//                    html_after += "<td>";
//                    html_after = html_after + "Email:";
//                    html_after += "</td>";
//                    html_after += "<td>";
//                    html_after = html_after + "<input class='form-control' type='text' name='email' value='" + email + "'/>";
//                    html_after += "</td>";
//                    html_after += "</tr>";
//
////                    html_after += "<tr>";
////                    html_after += "<td style='height: 55px'>";
////                    html_after = html_after + "Image:";
////                    html_after += "</td>";
////                    html_after += "<td>";
////                    html_after = html_after + "<input class='form-control' type='file' name='image'/>";
////                    html_after += "</td>";
////                    html_after += "</tr>";
//
//                    html_after += "</table>";
//                    console.log(html_after);
//                    $('#myform').html(html_after);
//                });
//                $('#exit').click(function () {
//                    $('#ok').hide();
//                    $('#exit').hide();
//                    $('#myform').html(html);
//                    $('#edit').show();
//                });
//
//                $('#demo').click(function () {
//                    console.log($('#left1').css('height'));
//                });
//                $(".Choicefile").bind('click', function () { //Chọn file khi .Choicefile Click
//                    $("#uploadfile").click();
//
//                });
//                $(".removeimg").click(function () {//Xóa hình  ảnh đang xem
//                    $("#thumbimage").attr('src', '').hide();
//                    $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
//                    $(".removeimg").hide();
//                    $(".Choicefile").bind('click', function () {//Tạo lại sự kiện click để chọn file
//                        $("#uploadfile").click();
//                    });
//                    $('.Choicefile').css('background', '#0877D8');
//                    $('.Choicefile').css('cursor', 'pointer');
//                    $(".filename").text("");
//                });
//            })();

            var update_profile = function () {
                var fullname = $('#input_fullname').val(),
                    phone = $('#input_phone').val(),
                    email = $('#input_email').val();

                patientContentScope.update_profile(fullname, phone, email);
            };
        </script>
    </div>
</div>