<div id="exTab3" style="display: block" class="bs" ng-show="doctorLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul class="nav nav-pills">
                <li class="logo"><img src="images/logo.png"><span class="lg">is hospital</span></li>
                <li class="active tab">
                    <a href="#1b" data-toggle="tab">List Requests </a>
                </li>
                <li class="tab"><a href="#2b" data-toggle="tab">List Patient</a>
                </li>
                <li class="tab"><a href="#3b" data-toggle="tab">Profile</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
            <div class="banner">
                <div class="banner-left"><h1>List requests</h1></div>
                <div class="banner-right"><img src="images/insacation.png"></div>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <div class="row">
                    <div class="bhoechie-tab-container">
                        <div class="col-md-3  bhoechie-tab-menu">
                            <div class="list-group">
                                <a href="#" class="list-group-item active text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 1
                                </a>
                                <a href="#" class="list-group-item  text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 2
                                </a>
                                <a href="#" class="list-group-item  text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 3
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 4
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>patien 5
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9  bhoechie-tab">
                            <!-- flight section -->
                            <div class="bhoechie-tab-content active">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <div class="date">
                                        <div class="row">
                                            <p>Chúng tôi trình bày Resilient Distributed Datasets (RDDs) , khái niệm
                                                trừu tượng để cho lập trình viên thực hiện tính toán thường xuyên trong
                                                bộ nhớ trên cụm lớn với việc chấp nhận sai sót. RDDs được thúc đẩy bởi
                                                hai loại ứng dụng mô hình điện toán hiện hành xử lý kém hiệu quả : thuật
                                                toán lặp lại và công cụ khai phá dữ liệu tương tác. Trong cả hai trường
                                                hợp, giữ cho dữ liệu trong bộ nhớ có thể cải thiện hiệu suất một bậc. Để
                                                đạt được khả năng chịu lỗi một cách hiệu quả, RDDs cung cấp một hình
                                                thức chia sẻ bộ nhớ, dựa trên biến đổi theo cụm lơn chứ không phải là
                                                biến đổi nhỏ lẻ phân mảnh. Tuy nhiên, chúng tôi cho thấy rằng RDDs được
                                                biểu hiện đầy đủ để chụp các tính toán lớn, bao gồm cả mô hình lập trình
                                                chuyên ngành gần đây như Pregel, và các ứng dụng mới có không có mô
                                                hình. Chúng tôi đã thực hiện RDDs trong một hệ thống gọi là Spark, mà
                                                chúng tôi đánh giá thông qua một loạt các ứng dụng người dùng và điểm
                                                chuẩn.</p>
                                            <h4 style="float: left">Image :</h4> <img style="float: left" src="" height="150px" width="150px" alt="img" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>Chọn lịch khám</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-control-wrapper">
                                                    <input type="text" id="date-format"
                                                           class="form-control floating-label"
                                                           placeholder="Begin Date Time">
                                                </div>
                                            </div>
                                            <div class="col-md-0">
                                                <code>

                                                    <script>$('#date-format').bootstrapMaterialDatePicker({format: 'dddd DD MMMM YYYY - HH:mm'});</script>
                                                </code>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-success"> đặt lịch</button>
                                        </div>

                                    </div>
                                </center>
                            </div>
                            <!-- train section -->
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                                </center>
                            </div>

                            <!-- hotel search -->
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                                </center>
                            </div>
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                                </center>
                            </div>
                            <div class="bhoechie-tab-content">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">Patient's information</h2>
                                    <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2b">
            <div class="banner">
                <div class="banner-left"><h1>list patient</h1></div>
                <div class="banner-right"><img src="images/bacsi.png" width="300px" height="195px"></div>
            </div>
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <div class="pull-right">
                                <h4>Bệnh nhân bệnh j j j </h4>
                                <dl>
                                    <dt>Full Name:</dt>
                                    <dd class="name">Nguyện văn A</dd>
                                    <dt>Bệnh cần chữa trị:</dt>
                                    <dd>
                                        <span > jhuihih. </span>
                                    </dd>
                                    <dt>Email:</dt>
                                    <dd>bbhgh@hbhb</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3b">
            <div class="banner">
                <div class="banner-left"><h1>profile</h1></div>
                <div class="banner-right"><img src="images/profile.png"></div>
            </div>
            <div class="clearfix"></div>
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="container clearfix">
                        <div class="row profile-docter-title">
                            <h2>thông tin cá nhân</h2>
                        </div>
                        <div class="row profile-docter clearfix">
                            <div class="col-md-1"></div>
                            <div class=" col-md-4 profile-docter-left">
                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ">
                            </div>
                            <div class="col-md-6 profile-docter-right">
                                <form id="myform_doctor" action="" method="post" enctype="multipart/form-data">

                                    <h4><b>Name:</b> <strong style="color:#ed1b2f; font-size: 22px">Tyreese Burn</strong></h4></br>
                                    <p><b>Title:</b> Manager</p></br>
                                    <span><b>Phone:</b> 555-555-5555</span></br>
                                    <br/>
                                    <span><b>Email:</b> <i>sample@company.com</i></span></br>
                                    <input style="margin: 0 135px;display: none" type="file" value="Change Avatar">
                                </form>
                                <input id="edit_doctor" class="btn btn-success" style="margin-top: 20px" type="button" name="edit"
                                       value="Sửa thông tin"/>
                                <input id="ok_doctor" class="btn btn-success" style="display:none;float: left;margin-right: 10px; margin-top: 10px"
                                       type="button" name="ok" value="Chấp nhận"/>
                                <input id="exit_doctor" class="btn btn-danger" style="margin-top:10px; display:none;float: left" type="button"
                                       name="exit" value="Hủy"/>
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);

        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#C4C4C4');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click'); //Xóa sự kiện  click trên nút .Choicefile

    }
    //$(document).ready(function () {

    (function () {
        var html_doctor = '';
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
        $('#edit_doctor').click(function () {
            $('#edit_doctor').hide();
            $('#ok_doctor').show();
            $('#exit_doctor').show();
            html_doctor = $('#myform_doctor').html();
            var name = $('#myform_doctor>h4').text().slice(6);
            var title = $('#myform_doctor>p').text().slice(7);
            var phone = $('#myform_doctor span').first().text().slice(7);
            var email = $('#myform_doctor span').last().text().slice(7);
            var html_after = '';
            html_after += "<table id='table-profile' cellpadding='10' cellspacing='10'>";


            html_after += "<tr>";
            html_after += "<td style='height: 55px'>";
            html_after = html_after + "Name:";
            html_after += "</td>";
            html_after += "<td>";
            html_after = html_after + "<input class='form-control' type='text' name='name' value='" + name + "'/>";
            html_after += "</td>";
            html_after += "</tr>";

            html_after += "<tr>";
            html_after += "<td style='height: 55px'>";
            html_after = html_after + "Title:";
            html_after += "</td>";
            html_after += "<td>";
            html_after = html_after + "<input class='form-control' type='text' name='title' value='" + title + "'/>";
            html_after += "</td>";
            html_after += "</tr>";

            html_after += "<tr>";
            html_after += "<td style='height: 55px'> ";
            html_after = html_after + "Phone:";
            html_after += "</td>";
            html_after += "<td>";
            html_after = html_after + "<input class='form-control' type='text' name='phone' value='" + phone + "'/>";
            html_after += "</td>";
            html_after += "</tr>";

            html_after += "<tr>";
            html_after += "<td style='height: 55px'>";
            html_after = html_after + "Email:";
            html_after += "</td>";
            html_after += "<td>";
            html_after = html_after + "<input class='form-control' type='text' name='email' value='" + email + "'/>";
            html_after += "</td>";
            html_after += "</tr>";

            html_after += "<tr>";
            html_after += "<td style='height: 55px'>";
            html_after = html_after + "Image:";
            html_after += "</td>";
            html_after += "<td>";
            html_after = html_after + "<input class='form-control' type='file' name='image'/>";
            html_after += "</td>";
            html_after += "</tr>";

            html_after += "</table>";
            $('#myform_doctor').html(html_after);
        });
        $('#exit_doctor').click(function () {
            $('#ok_doctor').hide();
            $('#exit_doctor').hide();
            $('#myform_doctor').html(html_doctor);
            $('#edit_doctor').show();
        });

        $('#demo').click(function () {
            console.log($('#left1').css('height'));
        });
        $(".Choicefile").bind('click', function () { //Chọn file khi .Choicefile Click
            $("#uploadfile").click();

        });
        $(".removeimg").click(function () {//Xóa hình  ảnh đang xem
            $("#thumbimage").attr('src', '').hide();
            $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
            $(".removeimg").hide();
            $(".Choicefile").bind('click', function () {//Tạo lại sự kiện click để chọn file
                $("#uploadfile").click();
            });
            $('.Choicefile').css('background', '#0877D8');
            $('.Choicefile').css('cursor', 'pointer');
            $(".filename").text("");
        });
    })();

    //});
</script>
<!--</script>-->
<!--$(document).ready(function() {-->
<!--$("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {-->
<!--e.preventDefault();-->
<!--$(this).siblings('a.active').removeClass("active");-->
<!--$(this).addClass("active");-->
<!--var index = $(this).index();-->
<!--$("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");-->
<!--$("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");-->
<!--});-->
<!--});-->
<!--</script>-->