<div id="exTab5" style="display: block" class="container-all" ng-show="staffLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul class="nav nav-pills">
                <li class="logo"><img src="images/logo.png"><span class="lg">is hospital</span></li>
                <li class="active tab">
                    <a href="#1c" data-toggle="tab">List Request</a>
                </li>
                <li class="tab"><a href="#2c" data-toggle="tab">Profile</a>
                </li>
                <li class="tab"><a href="#3c" data-toggle="tab">Notifacation</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1c">
            <div class="banner">
                <div class="banner-left"><h1>Staff</h1></div>
                <div class="banner-right"><img src="images/bacsi.png" width="300px" height="195px"></div>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <div class="row" style="margin-bottom: 40px">
                    <div class="bhoechie-tab-container">

                        <div class="col-md-3  bhoechie-tab-menu" style="height: 410px;">
                            <div class="list-group">
                                <a href="#" class="list-group-item text-center" ng-click="updateActiveElement($index)"
                                   ng-class="listRequestElement[$index]" ng-repeat="req in listRequests">
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>{{req.username}}
                                </a>
                            </div>
                        </div>

                        <!-- Request's Details -->
                        <div class="col-md-9  bhoechie-tab">

                            <!-- patient section -->
                            <div class="bhoechie-tab-content" ng-repeat="req in listRequests"
                                 ng-class="listRequestElement[$index]">
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">{{req.username | uppercase}}'s information</h2>
                                    <div class="date">
                                        <div class="row">
                                            <p>Description: {{req.description}}</p>
                                            <h4 style="float: left">Image :</h4> <img style="float: left" src=""
                                                                                      height="150px" width="150px"
                                                                                      alt="img"/>
                                        </div>


                                        <div class="row ">
                                            <div class="container">
                                                <label for="text_dropdown">Doctor's Name</label>
                                            </div>

                                        </div>

                                        <div class="row form-group" style="margin: 10px 0">
                                            <div class="col-md-4">
                                                <div class="dropdown">
                                                    <button id="butn" onclick="myFunction()" class="btn1 btn-success">
                                                        Select
                                                        a
                                                        Doctor
                                                    </button>
                                                    <div id="myDropdown" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput"
                                                               onkeyup="filterFunction()">
                                                        <a href="">thang</a>
                                                        <a href="">hoangvuong52</a>
                                                        <a href="">ngoc</a>
                                                        <a href="">long</a>
                                                        <a href="">thanh</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control" type="text" value="" ng-model="username_doctor"
                                                       name="" id="text_dropdown"
                                                       placeholder="Doctor's name"
                                                       style="display: none"/></div>
                                            <script>
                                                $('#myDropdown a').click(function () {
                                                    $('#text_dropdown').show();
                                                    $('#text_dropdown').val($(this).text());
                                                    $('#butn').click();
                                                });
                                            </script>
                                            <div class="col-md-3"><input ng-click="update_doctor()" class="btn1 btn-success" type="button"
                                                                         value="Assign"/></div>

                                            <script>
                                                /* When the user clicks on the button,
                                                 toggle between hiding and showing the dropdown content */
                                                function myFunction() {
                                                    document.getElementById("myDropdown").classList.toggle("show");
                                                }
                                                function filterFunction() {
                                                    var input, filter, ul, li, a, i;
                                                    input = document.getElementById("myInput");
                                                    filter = input.value.toUpperCase();
                                                    div = document.getElementById("myDropdown");
                                                    a = div.getElementsByTagName("a");
                                                    for (i = 0; i < a.length; i++) {
                                                        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                                            a[i].style.display = "";
                                                        } else {
                                                            a[i].style.display = "none";
                                                        }
                                                    }
                                                }
                                            </script>
                                        </div>

                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="2c">
            <div class="banner">
                <div class="banner-left"><h1>profile</h1></div>
                <div class="banner-right"><img src="images/profile.png"></div>
            </div>
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class=" pull-left">
                                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ"
                                             width="120" height="120" style="border-radius: 100% ;margin-right: 15px;">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <form class="form-group" id="myform_staff1" action="" method="post"
                                          enctype="multipart/form-data">
                                        <h2><b>Name:</b> {{profile.username}}</h2>
                                        <input disabled id="name" class="form-control" type="text" name="name"
                                               value="23" style="width: 40%;display: none"/>

                                        <h3 ng-show="profileShow"><b>Fullname:</b> <b style="color: #ed1b2f">{{profile.fullname}}</b>
                                        </h3>
                                        <label ng-show="!profileShow" for="fullname">Fullname:</label>
                                        <input ng-show="!profileShow" ng-model="profile.fullname" id="fullname"
                                               class="form-control" type="text" name="fullname"
                                               value="{{profile.fullname}}" style="width: 40%"/>

                                        <span ng-show="profileShow"><h4><b>Phone:</b> {{profile.mobile_phone}}</h4></span>
                                        <label ng-show="!profileShow" for="phone">Phone:</label>
                                        <input ng-model="profile.mobile_phone" ng-show="!profileShow" id="phone"
                                               class="form-control" type="text" name="phone" style="width: 40%"/>

                                        <br/>
                                        <span ng-show="profileShow"><h4><b>Email:</b> {{profile.email}}</h4></span>
                                        <label ng-show="!profileShow" for="email">Email:</label>
                                        <input ng-model="profile.email" ng-show="!profileShow" id="email"
                                               class="form-control" type="text" name="email" value=""
                                               style="width: 40%;"/>
                                        <input ng-model="profile.avatar" style="margin: 0 135px;" ng-show="!profileShow" type="file" value="Change Avatar">
                                    </form>
                                    <input id="edit_staff1" ng-show="profileShow" class="btn btn-success"
                                           style="margin: 10px 10px" type="button"
                                           name="edit" ng-click="flipProfileShow()"
                                           value="Sửa thông tin"/>
                                    <input id="ok_staff1" ng-show="!profileShow" class="btn btn-success"
                                           ng-click="update_profile()" style="float: left;margin-right: 10px"
                                           type="button" name="ok" value="Chấp nhận"/>
                                    <input id="exit_staff1" ng-click="flipProfileShow()" ng-show="!profileShow" class="btn btn-danger"
                                           style="float: left"
                                           type="button"
                                           name="exit" value="Hủy"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="3c">
            <div class="banner">
                <div class="banner-left"><h1>notifacation</h1></div>
                <div class="banner-right"><img src=""></div>
            </div>
            <div class="row" style="margin: 40px 0px">
                <div class="container">
                    <div class="col-md-5">
                        <div style="width: 95%" id="left1">
                            <div class="form-group">

                                <form enctype="multipart/form-data">
                                    <label for="description"><h3>Description:</h3></label>
                                    <textarea ng-model="requestDescription" id="description" class="form-control"
                                              style="width:80%;margin: 0 20px;resize: none " cols="10" rows="7"
                                              placeholder="Your descriptoin "></textarea>
                                    <h3>Image</h3>
                                    <div>
                                        <div id="myfileupload">
                                            <input type="file" id="uploadfile" name="avatar"
                                                   onchange="readURL(this);"/>
                                            <!--      Name  mà server request về sẽ là ImageUpload-->
                                        </div>
                                        <div id="thumbbox">
                                            <img height="150" width="150" alt="Thumb image" id="thumbimage"
                                                 style="display: none"/>
                                            <a class="removeimg" href="javascript:"></a></div>
                                    </div>
                                    <input class="btn-success" ng-click="sendRequest()"
                                           style="width: 100px;height: 35px;border-radius: 5px;margin: 20px 0px;"
                                           type="button" name="submit" value="Submit" onsubmit="return false" {{}}>
                                </form>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div style="" id="right1">
                            <div class="notification">
                                <h3>Notification</h3>
                                <ul>
                                    <li ng-repeat="noti in notifications">
                                        <button type="button" class="notification-id" data-toggle="collapse"
                                                data-target={{'#noti'+$index}}>
                                            {{noti.content}}
                                        </button>
                                        <div style="margin-top: 10px" id={{'noti'+$index}} class="collapse">
                                            <p>Người xác nhận: {{noti.username_doctor}}</p>
                                            <p>Thời gian {{noti.date}}, {{noti.time}} </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
        else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);

        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#C4C4C4');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click'); //Xóa sự kiện  click trên nút .Choicefile

    }
</script>
