<div id="exTab4" class="container" ng-show="patientLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul  class="nav nav-pills">
                <li class="active">
                    <a  href="#1a" data-toggle="tab">List Doctors</a>
                </li>
                <li><a href="#2a" data-toggle="tab">Oppointment</a>
                </li>
                <li><a href="#3a" data-toggle="tab">Profile</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div class="row item-doctor" ng-repeat="doctor in listDoctors">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Bác sĩ {{doctor.faculty}}</h5>
                            <h4>Full Name: {{doctor.fullName}}</h4>
                            <p>Có kinh nghiệm về</p>
                            <p ng-repeat="sick in doctor.list_recommend">
                                {{sick}}
                            </p>
                            <span>Email: {{doctor.email}}</span>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="square-box pull-left">
                                <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="tab-pane" id="2a">

        </div>
        <div class="tab-pane" id="3a">
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class=" pull-left">
                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ" width="120" height="120" style="border-radius: 100% ;margin-right: 15px;">
                            </div>
                            <h5>Company Name</h5>
                            <h4>Name: Tyreese Burn</h4>
                            <p>Title: Manager</p>
                            <span>Phone: 555-555-5555</span>
                            <span>Email: sample@company.com</span>
                            <input  type="file" value="Change Avatar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>