<div id="exTab3" style="display: block" class="bs" ng-show="doctorLogin">
    <div class="container">
        <div class="row menu-tab">
            <ul class="nav nav-pills">
                <li class="logo"><img src="images/logo.png"><span class="lg">is hospital</span></li>
                <li class="active tab">
                    <a href="#1b" data-toggle="tab">List Requests </a>
                </li>
                <li class="tab"><a href="#2b" data-toggle="tab">List Patient</a>
                </li>
                <li class="tab"><a href="#3b" data-toggle="tab">Profile</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
            <div class="banner">
                <div class="banner-left"><h1>List requests</h1></div>
                <div class="banner-right"><img src="images/insacation.png"></div>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <div class="row" style="margin-bottom: 40px">
                    <div class="bhoechie-tab-container">
                        <div class="col-md-3  bhoechie-tab-menu">
                            <div class="list-group" ng-repeat="request in listRequests">
                                <a href="#" class="list-group-item text-center" id={{'user_request'+($index+1)}}>
                                    <h4 class="glyphicon glyphicon-user"></h4><br/>{{request.username}}
                                </a>
                                <!--<a href="#" class="list-group-item  text-center">-->
                                    <!--<h4 class="glyphicon glyphicon-user"></h4><br/>patien 2-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item  text-center">-->
                                    <!--<h4 class="glyphicon glyphicon-user"></h4><br/>patien 3-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item text-center">-->
                                    <!--<h4 class="glyphicon glyphicon-user"></h4><br/>patien 4-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item text-center">-->
                                    <!--<h4 class="glyphicon glyphicon-user"></h4><br/>patien 5-->
                                <!--</a>-->
                            </div>
                        </div>

                        <!--Request's Details-->
                        <div class="col-md-9  bhoechie-tab" ng-repeat="request in listRequests">
                            <div class="bhoechie-tab-content" id={{'request_'+($index+1)}}>
                                <center>
                                    <h2 style="margin-top: 0;color:#55518a">{{request.username | uppercase}}'s information</h2>
                                    <div class="date">
                                        <div class="row">
                                            <p>Descriptions : {{request.description}}</p>
                                            <h4 style="float: left">Image :</h4> <img style="float: left" src="" height="150px" width="150px" alt="img" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>Chọn lịch khám</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-control-wrapper">
                                                    <input type="text" id="date-format"
                                                           class="form-control floating-label"
                                                           placeholder="Begin Date Time">
                                                </div>
                                            </div>
                                            <div class="col-md-0">
                                                <code>

                                                    <script>$('#date-format').bootstrapMaterialDatePicker({format: 'dddd DD MMMM YYYY - HH:mm'});</script>
                                                </code>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-success"> đặt lịch</button>
                                        </div>
                                    </div>
                                </center>
                            </div>

                            <!--&lt;!&ndash; patient2 section &ndash;&gt;-->
                            <!--<div class="bhoechie-tab-content">-->
                                    <!--<h2 style="margin-top: 0;color:#55518a">Patient's information</h2>-->
                                    <!--<h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>-->
                            <!--</div>-->

                            <!--&lt;!&ndash; patient3 search &ndash;&gt;-->
                            <!--<div class="bhoechie-tab-content">-->
                                    <!--<h2 style="margin-top: 0;color:#55518a">Patient's information</h2>-->
                                    <!--<h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;patient4 &ndash;&gt;-->
                            <!--<div class="bhoechie-tab-content">-->
                                    <!--<h2 style="margin-top: 0;color:#55518a">Patient's information</h2>-->
                                    <!--<h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;patient4 &ndash;&gt;-->
                            <!--<div class="bhoechie-tab-content">-->
                                    <!--<h2 style="margin-top: 0;color:#55518a">Patient's information</h2>-->
                                    <!--<h3 style="margin-top: 0;color:#55518a">Credit Card</h3>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2b">
            <div class="banner">
                <div class="banner-left"><h1>list patient</h1></div>
                <div class="banner-right"><img src="images/bacsi.png" width="300px" height="195px"></div>
            </div>
            <div class="clearfix"></div>


                <div class="container list-patient" >
                    <div class="row">
                        <h2>activity</h2>
                        <div class="col col-sm-4 list-patient-left">
                            <ul class="nav nav-tabs nav-stacked text-center" role="tablist">
                                <li role="presentation" class="active"><a class="glyphicon glyphicon-user" href="#patient1" aria-controls="patient1" role="tab" data-toggle="tab">Nguyễn Văn A</a></li>
                                <li role="presentation"><a class="glyphicon glyphicon-user" href="#patient2" aria-controls="patient2" role="tab" data-toggle="tab">Nguyễn Văn B</a></li>
                                <li role="presentation"><a class="glyphicon glyphicon-user" href="#patient3" aria-controls="patient3" role="tab" data-toggle="tab">Nguyễn Văn C</a></li>
                            </ul>
                        </div>
                        <div class="col col-sm-8 list-patient-right">
                            <div class="row tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="patient1">
                                    <ul class="patient-tab row">
                                        <li class=""><a  href="javascript:void(0)" onclick="openCity('pt1')">Activity 1</a></li>
                                        <li class=""><a href="javascript:void(0)" onclick="openCity('pt2')">Activity 2</a></li>
                                        <li class=""><a href="javascript:void(0)" onclick="openCity('pt3')">Activity 3</a></li>
                                        <li class=""><a href="javascript:void(0)" onclick="openCity('pt-create')">Create Activity</a></li>

                                    </ul>

                                    <div id="pt1" class=" activity form-group">
                                        <p><b>Ngày bắt đầu :</b>14/12/2016</p>
                                        <p><b>Description :</b> Chúng tôi trình bày Resilient Distributed Datasets (RDDs) , khái niệm
                                            trừu tượng để cho lập trình viên thực hiện tính toán thường xuyên trong
                                            bộ nhớ trên cụm lớn với việc chấp nhận sai sót. RDDs được thúc đẩy bởi</p>
                                        <p><b>Tình trạng :</b> Chúng tôi trình bày Resilient Distributed Datasets (RDDs) , khái niệm
                                            trừu tượng để cho lập trình viên thực hiện tính toán thường xuyên trong
                                            bộ nhớ trên cụm lớn với việc chấp nhận sai sót. RDDs được thúc đẩy bởi</p>
                                        <p><b>Kết quả :</b>Chúng tôi trình bày Resilient Distributed Datasets (RDDs) , khái niệm
                                            trừu tượng để cho lập trình viên thực hiện tính toán thường xuyên trong
                                            bộ nhớ trên cụm lớn với việc chấp nhận sai sót. RDDs được thúc đẩy bởi</p>
                                        <!--<p><b>Cập nhật:</b><span><textarea style="resize: none" cols="3" rows="5" class="form-control"></textarea></span></p>-->
                                    </div>

                                    <div id="pt2" class="activity">
                                        <h2>Paris</h2>
                                        <p>Paris is the capital of France.</p>
                                    </div>

                                    <div id="pt3" class="activity">
                                        <h2>Tokyo</h2>
                                        <p>Tokyo is the capital of Japan.</p>
                                    </div>
                                    <div id="pt-create" class="activity">
                                        <p><b>Cập nhật:</b><span><textarea style="resize: none" cols="3" rows="7" class="form-control"></textarea></span></p>
                                        <input id="" class="btn btn-success" style="margin-top: 20px; float: right" type="button" name="edit"
                                               value="Hoàn Thành"/>
                                    </div>
                                    <script>
                                        openCity("pt1");
                                        function openCity(cityName) {
                                            var i;
                                            /*$('.patient-tab li:first-child a').hover();*/
                                            var x = document.getElementsByClassName("activity");
                                            for (i = 0; i < x.length; i++) {
                                                x[i].style.display = "none";
                                            }
                                            document.getElementById(cityName).style.display = "block";
                                        }
                                    </script>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="patient2">

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="patient3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list-inline patient-bt">
                            <li><button type="button" class="btn1 btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn1 btn-default next-step">Next</button></li>
                            <!--<li><button type="button" class="btn1 btn-primary ">Save</button></li>-->
                        </ul>
                    </div>
                </div>



        </div>
        <div class="tab-pane" id="3b">
            <div class="banner">
                <div class="banner-left"><h1>profile</h1></div>
                <div class="banner-right"><img src="images/profile.png"></div>
            </div>
            <div class="row item-doctor">
                <div class="searchable-container">
                    <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
                        <div class="info-block block-info clearfix">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class=" pull-left">
                                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTYDwx7qxN8zR6b9OtIRfh3LX4YEytvrAQQ4fQDI-21DCox-pts9cxQ"
                                             width="120" height="120" style="border-radius: 100% ;margin-right: 15px;">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <form class="form-group" id="myform_staff1" action="" method="post" enctype="multipart/form-data">
                                        <h4 >Name: Tyreese Burn</h4>
                                        <label style="display: none" for="name">Name:</label>
                                        <input id="name" class="form-control" type="text" name="name" value="23" style="width: 40%;display: none"/>
                                        <p >Fullname: Manager</p>
                                        <label style="display: none" for="fullname">Fullname:</label>
                                        <input id="fullname" class="form-control" type="text" name="fullname" value="23" style="width: 40%;display: none" />
                                        <span >Phone: 555-555-5555</span>
                                        <label style="display: none" for="phone">Phone:</label>
                                        <input id="phone" class="form-control" type="text" name="phone" value="23" style="width: 40%;display: none" />
                                        <br/>
                                        <span >Email: sample@company.com</span>
                                        <label style="display: none" for="email">Email:</label>
                                        <input  id="email" class="form-control" type="text" name="email" value="sample@company.com" style="width: 40%;display: none" />
                                        <input style="margin: 0 135px;display: none" type="file" value="Change Avatar">
                                    </form>
                                    <input id="edit_staff1" class="btn btn-success" style="margin: 10px 10px" type="button"
                                           name="edit"
                                           value="Sửa thông tin"/>
                                    <input id="ok_staff1" class="btn btn-success"
                                           style="display:none;float: left;margin-right: 10px"
                                           type="button" name="ok" value="Chấp nhận"/>
                                    <input id="exit_staff1" class="btn btn-danger" style="display:none;float: left"
                                           type="button"
                                           name="exit" value="Hủy"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
        $(".next-step").click(function (e) {

            var $active = $('.nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);

        });
        $(".prev-step").click(function (e) {

            var $active = $('.nav-tabs li.active');
            prevTab($active);

        });

        function readURL(input, thumbimage) {
            if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#thumbimage").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else { // Sử dụng cho IE
                $("#thumbimage").attr('src', input.value);

            }
            $("#thumbimage").show();
            $('.filename').text($("#uploadfile").val());
            $('.Choicefile').css('background', '#C4C4C4');
            $('.Choicefile').css('cursor', 'default');
            $(".removeimg").show();
            $(".Choicefile").unbind('click'); //Xóa sự kiện  click trên nút .Choicefile

        }
        //$(document).ready(function () {

//        (function () {
//            var html_doctor = '';
//            console.log('running');
//            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
//                e.preventDefault();
//                $(this).siblings('a.active').removeClass("active");
//                $(this).addClass("active");
//                var index = $(this).index();
//                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
//                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
//            });
//            $('#edit_doctor').click(function () {
//                alert('abv');
//                $('#edit_doctor').hide();
//                $('#ok_doctor').show();
//                $('#exit_doctor').show();
//                html_doctor = $('#myform_doctor').html();
//                var name = $('#myform_doctor>h4').text().slice(6);
//                var fullname = $('#myform_doctor>p').text().slice(7);
//                var phone = $('#myform_doctor span').first().text().slice(7);
//                var email = $('#myform_doctor span').last().text().slice(7);
//                var html_after = '';
//                html_after += "<table id='table-profile' cellpadding='10' cellspacing='10'>";
//
//
//                html_after += "<tr>";
//                html_after += "<td style='height: 55px'>";
//                html_after = html_after + "Name:";
//                html_after += "</td>";
//                html_after += "<td>";
//                html_after = html_after + "<input class='form-control' disabled='disabled' type='text' name='name' value='" + fullname + "'/>";
//                html_after += "</td>";
//                html_after += "</tr>";
//
//                html_after += "<tr>";
//                html_after += "<td style='height: 55px'>";
//                html_after = html_after + "Full name:";
//                html_after += "</td>";
//                html_after += "<td>";
//                html_after = html_after + "<input class='form-control' type='text' name='title' value='" + title + "'/>";
//                html_after += "</td>";
//                html_after += "</tr>";
//
//                html_after += "<tr>";
//                html_after += "<td style='height: 55px'> ";
//                html_after = html_after + "Phone:";
//                html_after += "</td>";
//                html_after += "<td>";
//                html_after = html_after + "<input class='form-control' type='text' name='phone' value='" + phone + "'/>";
//                html_after += "</td>";
//                html_after += "</tr>";
//
//                html_after += "<tr>";
//                html_after += "<td style='height: 55px'>";
//                html_after = html_after + "Email:";
//                html_after += "</td>";
//                html_after += "<td>";
//                html_after = html_after + "<input class='form-control' type='text' name='email' value='" + email + "'/>";
//                html_after += "</td>";
//                html_after += "</tr>";
//
//                html_after += "</table>";
//                $('#myform_doctor').html(html_after);
//            });
//            $('#exit_doctor').click(function () {
//                $('#ok_doctor').hide();
//                $('#exit_doctor').hide();
//                $('#myform_doctor').html(html_doctor);
//                $('#edit_doctor').show();
//            });
//
//            $('#demo').click(function () {
//                console.log($('#left1').css('height'));
//            });
//            $(".Choicefile").bind('click', function () { //Chọn file khi .Choicefile Click
//                $("#uploadfile").click();
//
//            });
//            $(".removeimg").click(function () {//Xóa hình  ảnh đang xem
//                $("#thumbimage").attr('src', '').hide();
//                $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
//                $(".removeimg").hide();
//                $(".Choicefile").bind('click', function () {//Tạo lại sự kiện click để chọn file
//                    $("#uploadfile").click();
//                });
//                $('.Choicefile').css('background', '#0877D8');
//                $('.Choicefile').css('cursor', 'pointer');
//                $(".filename").text("");
//            });
//        })();
    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

</script>
