.header-tp .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.header-tp .navbar-default {
    /*background-image: -webkit-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: -moz-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: -ms-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: -o-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);*/
    border-color:transparent!important;
}
/*.header-tp .bdr li:nth-child(odd)
{
    border-left: 1px solid rgba(255, 255, 255, 0.44);

}*/

/*.header-tp .bdr li:nth-child(even)
{
    border-right: 1px solid rgba(255, 255, 255, 0.44);
    border-left: 1px solid rgba(255, 255, 255, 0.44);
}*/
.header-tp .bdr li
{
    padding:10px 0px;
}
.header-tp .bdr li a
{
    color:#fff!important;
}

.header-tp .pddr
{
    padding-top:5px;
}

.header-tp .navbar-right {
    float: right !important;
    margin-right: 30px;
}

.header-tp  .nav > li {
    margin: 0 5px;
    position: relative;
    display: inline-block;
}
.red{
    border: 1px solid #c40000;
    background: rgb(255, 137, 137);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(255, 137, 137, 1) 0%, rgba(254, 0, 1, 1) 3%, rgba(246, 5, 9, 1) 23%, rgba(223, 19, 34, 1) 64%, rgba(215, 24, 42, 1) 90%, rgba(215, 24, 42, 1) 92%, rgba(220, 22, 39, 1) 95%, rgba(248, 6, 11, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 137, 137, 1)), color-stop(3%, rgba(254, 0, 1, 1)), color-stop(23%, rgba(246, 5, 9, 1)), color-stop(64%, rgba(223, 19, 34, 1)), color-stop(90%, rgba(215, 24, 42, 1)), color-stop(92%, rgba(215, 24, 42, 1)), color-stop(95%, rgba(220, 22, 39, 1)), color-stop(100%, rgba(248, 6, 11, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 137, 137, 1) 0%, rgba(254, 0, 1, 1) 3%, rgba(246, 5, 9, 1) 23%, rgba(223, 19, 34, 1) 64%, rgba(215, 24, 42, 1) 90%, rgba(215, 24, 42, 1) 92%, rgba(220, 22, 39, 1) 95%, rgba(248, 6, 11, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 137, 137, 1) 0%, rgba(254, 0, 1, 1) 3%, rgba(246, 5, 9, 1) 23%, rgba(223, 19, 34, 1) 64%, rgba(215, 24, 42, 1) 90%, rgba(215, 24, 42, 1) 92%, rgba(220, 22, 39, 1) 95%, rgba(248, 6, 11, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 137, 137, 1) 0%, rgba(254, 0, 1, 1) 3%, rgba(246, 5, 9, 1) 23%, rgba(223, 19, 34, 1) 64%, rgba(215, 24, 42, 1) 90%, rgba(215, 24, 42, 1) 92%, rgba(220, 22, 39, 1) 95%, rgba(248, 6, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 137, 137, 1) 0%, rgba(254, 0, 1, 1) 3%, rgba(246, 5, 9, 1) 23%, rgba(223, 19, 34, 1) 64%, rgba(215, 24, 42, 1) 90%, rgba(215, 24, 42, 1) 92%, rgba(220, 22, 39, 1) 95%, rgba(248, 6, 11, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8989', endColorstr='#f8060b', GradientType=0);

}
.red:hover{
    background: rgb(248, 6, 11);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(248, 6, 11, 1) 0%, rgba(220, 22, 39, 1) 5%, rgba(215, 24, 42, 1) 8%, rgba(215, 24, 42, 1) 10%, rgba(223, 19, 34, 1) 36%, rgba(246, 5, 9, 1) 77%, rgba(254, 0, 1, 1) 97%, rgba(255, 137, 137, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 6, 11, 1)), color-stop(5%, rgba(220, 22, 39, 1)), color-stop(8%, rgba(215, 24, 42, 1)), color-stop(10%, rgba(215, 24, 42, 1)), color-stop(36%, rgba(223, 19, 34, 1)), color-stop(77%, rgba(246, 5, 9, 1)), color-stop(97%, rgba(254, 0, 1, 1)), color-stop(100%, rgba(255, 137, 137, 1)));
    background: -webkit-linear-gradient(top, rgba(248, 6, 11, 1) 0%, rgba(220, 22, 39, 1) 5%, rgba(215, 24, 42, 1) 8%, rgba(215, 24, 42, 1) 10%, rgba(223, 19, 34, 1) 36%, rgba(246, 5, 9, 1) 77%, rgba(254, 0, 1, 1) 97%, rgba(255, 137, 137, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 6, 11, 1) 0%, rgba(220, 22, 39, 1) 5%, rgba(215, 24, 42, 1) 8%, rgba(215, 24, 42, 1) 10%, rgba(223, 19, 34, 1) 36%, rgba(246, 5, 9, 1) 77%, rgba(254, 0, 1, 1) 97%, rgba(255, 137, 137, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 6, 11, 1) 0%, rgba(220, 22, 39, 1) 5%, rgba(215, 24, 42, 1) 8%, rgba(215, 24, 42, 1) 10%, rgba(223, 19, 34, 1) 36%, rgba(246, 5, 9, 1) 77%, rgba(254, 0, 1, 1) 97%, rgba(255, 137, 137, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 6, 11, 1) 0%, rgba(220, 22, 39, 1) 5%, rgba(215, 24, 42, 1) 8%, rgba(215, 24, 42, 1) 10%, rgba(223, 19, 34, 1) 36%, rgba(246, 5, 9, 1) 77%, rgba(254, 0, 1, 1) 97%, rgba(255, 137, 137, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f8060b', endColorstr='#ff8989', GradientType=0);
}
.blue {
    border: 1px solid #50a2d7;
    background: rgb(188, 231, 252);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(188, 231, 252, 1) 0%, rgba(110, 195, 246, 1) 3%, rgba(99, 187, 243, 1) 5%, rgba(90, 176, 232, 1) 21%, rgba(46, 124, 175, 1) 72%, rgba(30, 105, 155, 1) 95%, rgba(43, 121, 166, 1) 97%, rgba(73, 153, 190, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(188, 231, 252, 1)), color-stop(3%, rgba(110, 195, 246, 1)), color-stop(5%, rgba(99, 187, 243, 1)), color-stop(21%, rgba(90, 176, 232, 1)), color-stop(72%, rgba(46, 124, 175, 1)), color-stop(95%, rgba(30, 105, 155, 1)), color-stop(97%, rgba(43, 121, 166, 1)), color-stop(100%, rgba(73, 153, 190, 1)));
    background: -webkit-linear-gradient(top, rgba(188, 231, 252, 1) 0%, rgba(110, 195, 246, 1) 3%, rgba(99, 187, 243, 1) 5%, rgba(90, 176, 232, 1) 21%, rgba(46, 124, 175, 1) 72%, rgba(30, 105, 155, 1) 95%, rgba(43, 121, 166, 1) 97%, rgba(73, 153, 190, 1) 100%);
    background: -o-linear-gradient(top, rgba(188, 231, 252, 1) 0%, rgba(110, 195, 246, 1) 3%, rgba(99, 187, 243, 1) 5%, rgba(90, 176, 232, 1) 21%, rgba(46, 124, 175, 1) 72%, rgba(30, 105, 155, 1) 95%, rgba(43, 121, 166, 1) 97%, rgba(73, 153, 190, 1) 100%);
    background: -ms-linear-gradient(top, rgba(188, 231, 252, 1) 0%, rgba(110, 195, 246, 1) 3%, rgba(99, 187, 243, 1) 5%, rgba(90, 176, 232, 1) 21%, rgba(46, 124, 175, 1) 72%, rgba(30, 105, 155, 1) 95%, rgba(43, 121, 166, 1) 97%, rgba(73, 153, 190, 1) 100%);
    background: linear-gradient(to bottom, rgba(188, 231, 252, 1) 0%, rgba(110, 195, 246, 1) 3%, rgba(99, 187, 243, 1) 5%, rgba(90, 176, 232, 1) 21%, rgba(46, 124, 175, 1) 72%, rgba(30, 105, 155, 1) 95%, rgba(43, 121, 166, 1) 97%, rgba(73, 153, 190, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bce7fc', endColorstr='#4999be', GradientType=0);
}
.blue:hover{
background: rgb(73, 153, 190);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(73, 153, 190, 1) 0%, rgba(43, 121, 166, 1) 3%, rgba(30, 105, 155, 1) 5%, rgba(46, 124, 175, 1) 28%, rgba(90, 176, 232, 1) 79%, rgba(99, 187, 243, 1) 95%, rgba(110, 195, 246, 1) 97%, rgba(188, 231, 252, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(73, 153, 190, 1)), color-stop(3%, rgba(43, 121, 166, 1)), color-stop(5%, rgba(30, 105, 155, 1)), color-stop(28%, rgba(46, 124, 175, 1)), color-stop(79%, rgba(90, 176, 232, 1)), color-stop(95%, rgba(99, 187, 243, 1)), color-stop(97%, rgba(110, 195, 246, 1)), color-stop(100%, rgba(188, 231, 252, 1)));
background: -webkit-linear-gradient(top, rgba(73, 153, 190, 1) 0%, rgba(43, 121, 166, 1) 3%, rgba(30, 105, 155, 1) 5%, rgba(46, 124, 175, 1) 28%, rgba(90, 176, 232, 1) 79%, rgba(99, 187, 243, 1) 95%, rgba(110, 195, 246, 1) 97%, rgba(188, 231, 252, 1) 100%);
background: -o-linear-gradient(top, rgba(73, 153, 190, 1) 0%, rgba(43, 121, 166, 1) 3%, rgba(30, 105, 155, 1) 5%, rgba(46, 124, 175, 1) 28%, rgba(90, 176, 232, 1) 79%, rgba(99, 187, 243, 1) 95%, rgba(110, 195, 246, 1) 97%, rgba(188, 231, 252, 1) 100%);
background: -ms-linear-gradient(top, rgba(73, 153, 190, 1) 0%, rgba(43, 121, 166, 1) 3%, rgba(30, 105, 155, 1) 5%, rgba(46, 124, 175, 1) 28%, rgba(90, 176, 232, 1) 79%, rgba(99, 187, 243, 1) 95%, rgba(110, 195, 246, 1) 97%, rgba(188, 231, 252, 1) 100%);
background: linear-gradient(to bottom, rgba(73, 153, 190, 1) 0%, rgba(43, 121, 166, 1) 3%, rgba(30, 105, 155, 1) 5%, rgba(46, 124, 175, 1) 28%, rgba(90, 176, 232, 1) 79%, rgba(99, 187, 243, 1) 95%, rgba(110, 195, 246, 1) 97%, rgba(188, 231, 252, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4999be', endColorstr='#bce7fc', GradientType=0);
}
.btn{
    font-size: 14px;
    font-weight: 700;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 14px 25px;
    text-decoration: none;
}
.nav > li > a{
    padding: 10px 20px;
}
btn:hover{
    color: #fff;
}
.btn-blu {
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #0D4459;
   /* border-color: #0D4459;*/
    color: #fff;
}
.btn-blu:hover{
    background:#28398c;
}
a:hover{
   /* font-size: 16px;*/

    color: #fff;
    text-decoration: none;
}
.mrgn-top
{
    margin-top:15px;
    margin-right:15px;
}

.header-tp
{
    margin: 10px 0px;
}

/*######################## LOGIN/SIGNUP PAGE START ##################################*/
.at-login-form .btn-fb
{
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #4568B2;
    width: 100%;
    margin-top: 10px;
    color:#fff;
}

.at-login-form .btn-gp
{
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0px;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    color:#000;
}

.at-login-form .btn-lgin
{
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0px;
    background-color: #1DB9EC;
    width: 100%;
    margin-top: 10px;
    color:#fff;
}
.at-login-form .signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
}
.at-login-form .signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
}

.at-login-form .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

.at-login-form .signup-or-separator hr {
    margin: -25px auto 10px;
    width: 100%;
}

.at-login-form .form-control-form {
    display: block;
    width: 100%;
    height: 54px;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 3px;
}
.at-login-form .frgt-pswd
{
    margin: 5px 0 10px;
    color: red;
}

.at-login-form .btn-gst
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: transparent;
}

.at-login-form .ta-l
{
    text-align:left;
    margin-top: 5px;
}

.at-login-form .modal-dialog {
    width: 500px;
    margin: 30px auto;
}

.at-login-form .modal-content
{
    padding: 0px 10px;
}

.at-login-form  .modal-header {
    padding: 10px 10px;
    border-bottom: 0px solid #e5e5e5;
}
.blue-bg-nav {
   /* background-color: #1DB9EC;*/
    background-image: -webkit-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: -moz-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: -ms-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: -o-linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
    background-image: linear-gradient(top, #fef9ff 0%, rgba(128, 128, 128, 0.4) 100%);
}
/*######################## LOGIN/SIGNUP PAGE  END ##################################*/

/*style doctors list*/
.glyphicon-lg
{
    font-size:4em
}
.info-block
{
    border-right:5px solid #E6E6E6;
    margin-bottom:25px;
    margin-top: 25px;
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;padding:20px 0
}
.info-block.block-info
{
    border-color:#20819e
}
.info-block.block-info .square-box
{
    background-color:#20819e;color:#FFF
}

/*end doctors list*/


/*begin tab*/
body {
    /*padding : 10px ;*/

}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */
.nav-pills{
    padding: 10px 15%;
}
#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    padding : 5px 15px;
}
.items:hover{
    background: hsla(0, 0%, 80%, 0.89);
}
.menu-tab{
    width: 60%;
    margin-left: 20%;
}
.tab-pane{
    height: 450px;
    overflow: auto;
    width: 100%;
}
.item-doctor{
    margin-left: 0;
    margin-right: 0;
}
/*footer*/
footer{
    margin-top: 30px;
    background: #1db9ec;
}



